*{
	margin:0;
	padding:0;
}
header{
	background-image:url(herb.avif);
	height:650px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
ul{
	background:#cc8b13;
	overflow:hidden;
}
ul li{
	list-style-type:none;
	float:right;
}
ul li a{
	color:#fff;
	text-decoration:none;
	text-transform:capitalize;
	padding:15px 20px;
	display:inline-block;
	font-size:18px;
}
.dropdown-list{
	background:#cc8b13;
	display:none;
	position:absolute;
	width:190px;
}
.dropdown-list a{
	display:block;
	border-bottom:1px solid #5a4010;
}
.dropdown-list a:last-child{
	border-bottom:none;
}
.dropdown:hover .dropdown-list{
	display:block;
}
.container {
	text-align:center;
	position:relative;
	top:50%;
	right:50;
	transform:translate(-50% -50%);
	width:100%;
}
.container span{
	
	text-transform:uppercase;
	display:block;
}
.text1{
	color:white;
	font-size:60px;
	font-weight:700;
	letter-spacing:8px;
	margin-bottom:20px;
	background:black;
	position:relative;
	animation: text 3s 1;
}
.text2{
	font-size:30px;
	color:blue;
	
}
@keyframes text{	
	0%{
		color:black;
		margin-bottom:-40px;
	  }
	30%{
		letter-spacing:25px;
		margin-bottom:-40px;
      }
  85%{
	  letter-spacing:8px;
	  margin-bottom:-40px;
     }
}
footer{
	background:#111;
	height:auto;
	width:100vw;'
	font-family:"open sans";
	padding-top:40px;
	color:#fff;
}
.footer-content{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	text-align:center;
}
.socials{
	list-style:none;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:1rem 0 3rem 0;
}
.socials li{
	margin:0 10px;
}
.socials a{
	text-decoration:none;
	color:#fff;
}
.socials a i{
	font-size:1.1rem;
	transition:color .4s ease;
}
.socials a:hover i{
	color:aqua;
}
.footer-bottom{
	background:#000;
	width:100vw;
	padding:20px 0;
	text-align:center;
}
.footer-bottom p{
	font-size:14px;
	word-spacing:2px;
	text-transform:capitalize;
}
	
	
	
